.btn.trip-card-book-btn {
	font-size: 20px;
	background-color: #444443;
	color: #B7986D;
}

.card-img-top.trip-card-img {
	height: 220px;
	width: auto;
}

.trip-card-price .price {
	margin-left: 10px;
	font-size: 30px;
}

.trip-card-price .currency {
	font-size: 25px;
}

.trip-card-price {
	clear: right;
	margin-bottom: 15px;
}

.trip-card-price-from,
.trip-card-price {
	float: right;
}

.trip-card-title {
	font-weight: bold;
	font-size: 18px;
	min-height: 160px;
}

.btn.trip-card-book-btn {
	margin: 0;
}

.jumbotron.jumbotron-off {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.jumbotron .text h1 {
	font-weight: 500 !important;
	padding: unset;
}

.row .col-lg-6 {
	padding: 0
}

.formatting-box button {
	font-family: Montserrat !important;
	color: #fff;
	text-transform: none;
	background: #73c4ac;
	border-radius: 3px;
	padding: 4px 12px !important;
	font-weight: 500;
	font-size: 12px !important;
	line-height: 15px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #73c4ac;
	box-shadow: none
}

.formatting-box button:hover {
	color: #73c4ac;
	box-shadow: none;
	background: #fff;
	border: 1px solid #73c4ac
}

.card .card-body {
	padding-bottom: 0
}

.taylor-title {
	margin-top: 10vh
}

@media screen and (max-width:1024px) {
	.card-title {
		font-size: 17px;
		text-align: left !important
	}

	.card-footer {
		font-size: 10px
	}
}
