.modal-dialog {
	min-width: 65vw !important;
}

.modal.fade.show {
	backdrop-filter: blur(6px);
}

.modal-body {
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}

.modal-body::-webkit-scrollbar {
	display: none;
}

.row .col-lg-6 {
	padding: inherit !important;
}

.trip-card {
	/* border-radius: 15px; */
	min-height: 572px;
	box-shadow: 2px 2px 10px rgb(0 0 0 / 8%);
}

.trip-card.card .card-body {
	height: 360px;
}

.trip-card-title {
	font-weight: bold !important;
}

.card-img-top.trip-card-img {
	height: 220px;
	width: auto;
	object-fit: cover;
}

/* .trip-card img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
} */

.trip-card-det {
	border: none;
}

.trip-card-det>span:last-of-type {
	text-transform: capitalize;
}

.trip-card-price-container {
	color: black !important;
}

.trip-card-price-from {
	font-size: 16px;
}

.trip-card-price {
	font-weight: bold;
	font-size: 18px;
}

.jumbotron.jumbotron-off {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.jumbotron .text h1 {
	font-weight: 500 !important;
	padding: unset;
}

.row .col-lg-6 {
	padding: 0
}

.formatting-box button {
	font-family: Montserrat !important;
	color: #fff;
	text-transform: none;
	background: #73c4ac;
	border-radius: 3px;
	padding: 4px 12px !important;
	font-weight: 500;
	font-size: 12px !important;
	line-height: 15px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #73c4ac;
	box-shadow: none
}

.formatting-box button:hover {
	color: #73c4ac;
	box-shadow: none;
	background: #fff;
	border: 1px solid #73c4ac
}

.card .card-body {
	padding-bottom: 0;
	height: 360;
}

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.book-btn,
.close-trip-modal {
	background-color: #444443;
	font: Geometria;
	font-size: 16px;
	color: #B7986D;
	padding: 5px 40px;
	border: none;
	text-transform: uppercase;
}

.close-trip-modal {
	background-color: #fff;
	border: 1px solid #444443;
	color: #B7986D;
}

/* .taylor-title {
	margin-top: 10vh
} */

@media screen and (max-width:1024px) {
	.card-title {
		font-size: 17px;
		text-align: left !important
	}

	.card-footer {
		font-size: 10px
	}
}

.traveler-form-inline {
	display: flex;
	align-items: center;
}

.traveler-form-ages {
	position: relative;
}


.traveler-form-ages>div {
	position: relative;
	display: flex;
}

.remove-traveler-btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	border: none;
	color: #C49A6C;
	background-color: rgba(0, 0, 0, 0);
}

.edit-tranveler-nb.btn {
	box-shadow: none;
	color: #fff;
	text-transform: unset;
	font-size: 13px;
	font-weight: 300;
	padding: 5px 10px;
	background-color: #b7986d;
	display: flex;
	justify-content: center;
}

/*-----		MODAL		-----*/

.slide-header {
	border: none;
	text-align: center;
	display: block;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #B7986D;
	margin-top: 20px;
	margin-bottom: 20px;
}

.slide-body {
	padding-left: 25px;
	padding-right: 25px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: #bbb 0.6s ease;
}

.activeDot,
.dot:hover {
	background-color: #717171;
}

.dot-content {
	text-align: center;
}

.slide-body-header {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
}

.slides .slide {
	display: none;
}

.slides .slide .form-group {
	margin-bottom: 50px;
}

.slides .slide .form-group label {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #B7986D;
	text-transform: capitalize;
}

.slides .slide .form-group .form-input {
	border: none;
	border-radius: 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	color: #151515;
	background-color: #F7F4F0;
}

.slides .slide .form-group .form-input:focus {
	border: none;
	box-shadow: unset;
	background-color: #F7F4F0;
}

.slide-footer {
	border: none;
	justify-content: unset;
}

.slide-footer .btn {
	box-shadow: unset;
	color: #fff;
	text-transform: unset;
	font-size: 13px;
	font-weight: 300;
	padding: 10px 30px 10px 30px;
}

.slide-footer .btn:hover,
.slide-footer .btn:focus {
	border: none;
	box-shadow: none;
}

.slide-footer .slide-btn-previous {
	color: #b7986d;
}

.slide-footer .slide-btn-next,
.slide-footer .slide-btn-send {
	background-color: #b7986d;
}

.slides .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-name: fade;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}


.slide-form {
	max-height: 70vh;
}

.slide-footer .slide-btn-change {
	background-color: #8A8A8C;
}

.slide-btn-left,
.slide-btn-right {
	display: flex;
}

.slide-btn-left {
	justify-content: flex-start;
}

.slide-btn-right {
	justify-content: flex-end;
}

/*-----		MODAL END		-----*/
